@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);

    
 }
 :root{
    --blue_color: #2f80ed;
    --green_color:#b2ffda;
    --pink_color:#fad0c9ff;
    --brown_color:#6e6e6dff;
    --orange:rgb(250, 113, 21);
 }
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: myFirstFont;
}
body{
    overflow: none;
}
.zuri{
    display: flex;
    align-items: center;
    padding: 40px 0;
}
.zuri p{
    color:var(--pink_color);
    font-style: italic;
}
.zuri .links{
    font-style: none;
}
.info h1{
    text-align: center;
}
.zuri .logos{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.zuri .logos img{
    width: 120px;
    height: 50px;
}
.task1{
    background-color: rgb(82, 139, 141);
    padding: 40px;
    width: 100%;
}
button{
    font-size: 15px;
    border: 1px solid rgb(82, 79, 79);
    padding: 5px;
    cursor: pointer;
    box-shadow:3px 3px rgb(165, 162, 162);
    margin-top: 20px;
}
.footer_line{
    border-left: 2px solid white;
    position: relative;
    width: 1px;
    height: 800px;
    flex: 0.2;
}
a, .motto{
    color:var(--brown_color);
    text-decoration: none;
    font-weight: 600;
}
.task1 a{
    color: white;
}
.task1{
    padding: 10px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.task1 h3{
    padding-top: 10px;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    color:rgb(55, 55, 158);
}
.resume{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: hidden;
}
.right-side{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange);
    padding: 20px 0;
    height: 800px;
    margin-right: 20px;
    padding-right: 0;
}
.right-side li{
    color: white;
}
.right-side .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-side{
    flex:2;
}
.left-side header{
    color: var(--orange);
}
.right-side .image{
    width:200px;
    height:200px;
    border:3px solid rgb(212, 211, 218);
    border-radius: 50%;
}
.right-side .skills ul{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}
.other_details{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: flex-start;
}
.other_details i,.other_details p.motto i{
    padding-right: 20px;
}
header{
    font-size:40px;
    text-decoration:bold;
}
img{
    object-fit: cover;
    width: 100%;
}
ul.languages{
    padding: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.work_experience{
    padding-top: 20px;
}
.work_experience header{
    padding-bottom: 20px;
}
.work_experience div{
    align-items: flex-start;
}
.work_experience .category1,.category2,.category3{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-right:70px;
}
.work_experience .category1 .location1,.category2 .location2,.category3 .location3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.education .degrees{
    padding-top: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile_details{
    display: none;
}
@media (min-width:700px) and (max-width:900px) {
    .right-side{
        padding-right: 20px;
    }
    ul.languages{
        justify-content: space-between;
    }
}
@media (max-width:700px) {
    .resume{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .right-side{
        background-color: var(--orange);
        width: 100%;
        padding-right: 20px;
    }
    .right-side .skills,.right-side .other_details{
        display: none;
    }
    .mobile_details{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        height: 200px;
        justify-content: space-around;
        align-self: flex-start;
    }
    .mobile_details i,.mobile_details p.motto i{
        padding-right: 20px;
    }
    .brief_introduction{
        padding-top: 30px;
    }
    .brief_introduction header{
        padding-bottom: 10px;
    }
    .line::after{
        width:100%;
        height: 2px;
        background-color: rgb(211, 211, 211);
        display: flex;
        position: absolute;
        content: "";
        display: none;
    }
    .left-side{
        position: relative;
        width: 100%;
    }
    .resume .left-side::after{
        width:100%;
        height: 2px;
        background-color: rgb(133, 127, 127);
        display: flex;
        position: absolute;
        align-items: center;
        content: "";
        margin-top: 20px;
    }
    ul.languages{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }
    .work_experience{
        padding-bottom: 20px;
    }
    .work_experience .category1 h3,.category2 h3,.category3 h3{
        padding-right: 10px;
        padding-bottom: 8px;
    }
    .contents{
        line-height: 30px;
    }
    header{
        font-size:30px;
        text-decoration:'bold'
    }
    .work_experience .category1,.category2,.category3{
        height: 100px;
    }
    .zuri{
        flex-direction: column;
        padding-top: 10px;
    }
    .zuri p{
        padding-top: 20px;
    }
}
